@import './colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300&display=swap');
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  background-color: var(--color-bg);
  color: var(--color-font-primory);
  letter-spacing: 3px;
  font-family: Segoe;
}
.admin {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
::selection {
  background: var(--color-button);
  opacity: 0.5;
}
h1,
h2,
h3,
p,
img {
  background: rgba($color: #000000, $alpha: 0) !important;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
#root {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  color: var(--color-link);
  transition: 0.5s;
  &:hover {
    color: var(--color-link-hover);
  }
}

img {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
