[data-theme='ligth'] {
  --color-bg: #fffcf4;
  --color-bg-filter: rgba(255, 252, 244, 0.79);
  --color-font-primory: rgba(0, 0, 0, 0.94);
  --color-font-title: rgba(125, 117, 88, 1);
  --color-font-subtitle: rgba(0, 0, 0, 0.65);
  --color-button: rgba(212, 194, 127, 1);
  --color-button-hover: rgb(219, 191, 87);
  --color-link: rgba(0, 0, 0, 0.65);
  --color-link-hover: rgba(125, 117, 88, 1);
  --color-modal-bg: #fff;
  --color-modal-secondary-bg: rgba(0, 0, 0, 0.28);
  --color-filter-active-item: rgba(212, 194, 127, 1);
  --color-filter-passive-item: rgba(125, 117, 88, 1);
  --color-border-field: rgba(125, 117, 88, 1);
  --color-border-field-hover: rgb(153, 141, 99);
  --footer-bg: #d4c27f;
  --color-shadow: rgba(0, 0, 0, 0.25);
}
